footer {
    color: white;
    background-color: black;
    /* padding: 4rem 5rem 0 5rem; */
    padding-top: 4rem;
  }
  
  
  footer img {
    width: 13rem;
  }
  
  .main-footer {
    display: flex;
    justify-content: space-between;
  }
  .main-footer svg {
    margin-bottom: 1.5rem;
  }
  .footer-links-container {
    display: flex;
    gap: 3rem;
    margin-right: 5rem;
  }


  .footer-secondary {
    font-size: .8rem;
    padding-bottom: 6.5rem;
  }

  .footer-secondary p {
    width: 100%;
  }

  .disclaimer {
    margin-bottom: 1.2rem;
  }