.animated-background {
    animation: color-animation 48s ease infinite;
}

.buy-steamdeck {
    padding-block: 6rem;
}

.inline-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: .8rem;
}

@media (width < 800px) {
    .inline-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
    }
}

.buy-steamdeck p {
    color: black;
    font-size: 1.4rem;
    font-weight: 700;
}

@media (width < 700px) {
    .inline-container { font-size: 2rem; }
    .buy-steamdeck p { font-size: 1.1rem; }
}

.buy-steamdeck button {
    background-color: black;
    color: white;
    padding: 14px 68px;
    border-style: none;
    border-radius: 32px;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: .7rem;

    font-size: 1.1rem;
    font-weight: 600;
}
