.operating-system {
    padding: 5rem 5rem 7rem 5rem;
}

.operating-system h2 {
    width: 55rem;
    margin-bottom: 2.5rem;
}

.operating-system p {
    width: 50rem;
}
.operating-system span {
    background-color: red;
    background-image: linear-gradient(45deg, #ca78f3, #c63ba3);
  
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}