@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --color-black: #1b1b1b;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  /* font: inherit; */
  font-family: 'Noto Sans', sans-serif;
}

 footer, section:not(.feature-baldurs-gate, .feature-ni-no-kuni) {
  padding-inline: 5rem;
}

@media (width < 1000px) {
  section:not(.feature-baldurs-gate, .feature-ni-no-kuni) {
    padding-inline: 3rem;
  }
}

.flex-group {
  display: flex;
  align-items: center;
}


.section-title {
  /* font-size: 3.4rem; */
  font-weight: 900;
  width: 50rem;
}

p {
  line-height: 1.6rem;
}

.font-bold, p, nav, .top-content, .btn {
  font-weight: 600;
}
h1, h2, p {
  width: 30rem;
}
h1, h2 {
  font-size: 3.4rem;
  font-weight: 900;
  line-height: 4.2rem;
}


ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}

/* h1, h2, h3, .top-content p, img, .margin-inline {
  padding-inline: 5rem;
} */



/* Sections that did not take separate CSS files  */
.operating-system {
  color: white;
  background-color: var(--color-black);
}

.buy-steamdeck {
  color: white;
  background-color: hotpink;
}


