.font-big {

}
.font-bold, p, nav, .top-content, .btn {
    font-weight: 600;
}

.font-extra-bold {

}

 h1, h2, p {
    width: 30rem;
}

h1, h2 {
    font-size:3.4rem;
    font-weight: 900;
}

.top-content {
    padding-inline: 5rem;
}

.top-content h1 {
    color: #1b1b1b;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem; 
}

p {
    line-height: 1.6rem;
}

.top-content p {
    color: #3d4450;
    font-size: 1.05rem;
}

.section-title {
    font-size: 3.4rem;
    font-weight: 900;
    width: 50rem;
} 

.feature h3 {
    font-size: 1.4rem;
    font-weight: 900;
  }


